body {
    background-image: url("img/original.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav1 {
    background-color: #312520;
}

.drop1 {
    background-color: #d2be96;
}

.card1 {
    background-color: #c1ae65;
}

.card2 {
    background-color: #d4c073;
}

.card3 {
    background-color: #c4c4a2;
}

.btn1 {
    background-color: #6d2828;
}

.ini1 {
    background-color: #ccd19d;
}

.ini2 {
    background-color: #abaf82;
}