{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="ini1 card">
            <div class="card-header init2 text-light text-center">
                <h2>Backrooms Explorer</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/validaLogin">
                    <div class="mb-3">
                        <label class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" name="correo" required placeholder="Ingrese su electrónico" value="{{ request.form.get('correo', '') }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                </form>
                <hr>
                <div class="text-center">
                    <a href="{{ url_for('registro') }}" class="text-light">¿No tienes cuenta? Regístrate</a><br>
                    <a href="{{ url_for('recuperar') }}" class="text-light">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}