{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="ini1 card">
            <div class="card-header init2 text-white text-center">
                <h2>Registro de Explorador</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/registrar">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="FanBackrooms1" required maxlength="16"
                                    value="{{ request.form.get('username', '')}}">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" name="correo" placeholder="jose123@correo.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        required value="{{ request.form.get('correo', '')}}" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="password" required
                        placeholder="Crea una contraseña segura"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Debe contener al menos un número, una mayúscula y tener mínimo 8 caracteres"
                        value="{{ request.form.get('password', '')}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirmar Contraseña</label>
                        <input type="password" class="form-control" name="confirmPassword" required placeholder="Repite tu contraseña"
                        value="{{ request.form.get('confirmPassword', '')}}">
                    </div>
                    <button type="submit" class="btn btn-warning text-muted w-100">Registrarse</button>
                </form>
                <hr>
                <div class="text-center">
                    <a href="{{ url_for('iniciar') }}" class="text-light">¿Ya tienes cuenta? Inicia Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}